h1 {
  color:green;
}

#wordButton{
  background-color: #ff0000; /* Green */
  border-radius: 12px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.color{
  font-size: 3em;
}

#paragraph1 {
  background-color:blue
  /* display: grid;
  display-template-columns: 30em; */
}

#canvas{
  display: grid;
  display-template-columns: 30em;
}
